In [29]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow

def rename_files_in_directory(directory=os.getcwd(), filetype=""):
    """ Function to rename files in a given directory based on the provided filetype/format"""
    filenames = os.listdir(directory)
    converted_filenames = []
    
    for filename in filenames:
        if filename.endswith(".csv"):
            os.rename(filename, filename.replace(" ", "-").lower())
            converted_filenames.append(filename)
    return converted_filenames

In [30]:
rename_files_in_directory()

[]

In [31]:
def read_csv_files_into_parquet(directory=os.getcwd()):
    filenames = os.listdir(directory)
    converted_filenames = []
    
    for filename in filenames:
        if filename.endswith(".csv"):
            filename_df = pd.read_csv(filename)
            filename_df.to_parquet(f'{filename}.parquet.gzip', compression='gzip')
            
            #Remove file from directory
            os.remove(filename)
    return converted_filenames

In [32]:
!dir

 Volume in drive D is DATA
 Volume Serial Number is AE12-7ACB

 Directory of D:\PythonProjects\365daysofcode\365daysofcode\365daysofanalytics\wilderbeast_migration

09/01/2021  09:52 AM    <DIR>          .
09/01/2021  09:03 AM    <DIR>          ..
09/01/2021  09:03 AM    <DIR>          .ipynb_checkpoints
09/01/2021  09:52 AM             2,736 Spatio-temporal Analysis of Wilderbeast Migration.ipynb
09/01/2021  09:03 AM         6,845,411 white-bearded-wildebeest-in-kenya-accessory.csv.parquet.gzip
09/01/2021  09:03 AM         6,310,035 white-bearded-wildebeest-in-kenya-gps.csv.parquet.gzip
09/01/2021  09:03 AM            16,428 white-bearded-wildebeest-in-kenya-reference-data.csv.parquet.gzip
               4 File(s)     13,174,610 bytes
               3 Dir(s)  970,486,579,200 bytes free

In [39]:
accessory_data = pd.read_parquet("white-bearded-wildebeest-in-kenya-accessory.csv.parquet.gzip")
accessory_data.head()

,event-id,visible,timestamp,external-temperature,tag-tech-spec,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name
0,16534651719,True,2010-05-28 03:00:00.000,20.0,0:0,accessory-measurements,Connochaetes taurinus,2830,Naiba,White-bearded wildebeest in Kenya
1,16534651720,True,2010-05-28 03:05:00.000,19.0,0:0,accessory-measurements,Connochaetes taurinus,2830,Naiba,White-bearded wildebeest in Kenya
2,16534651721,True,2010-05-28 03:10:00.000,19.0,0:0,accessory-measurements,Connochaetes taurinus,2830,Naiba,White-bearded wildebeest in Kenya
3,16534651722,True,2010-05-28 03:15:00.000,19.0,0:0,accessory-measurements,Connochaetes taurinus,2830,Naiba,White-bearded wildebeest in Kenya
4,16534651723,True,2010-05-28 03:20:00.000,19.0,0:0,accessory-measurements,Connochaetes taurinus,2830,Naiba,White-bearded wildebeest in Kenya

In [40]:
accessory_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221573 entries, 0 to 1221572
Data columns (total 10 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   event-id                         1221573 non-null  int64
 1   visible                          1221573 non-null  bool
 2   timestamp                        1221573 non-null  object
 3   external-temperature             1221573 non-null  float64
 4   tag-tech-spec                    1221573 non-null  object
 5   sensor-type                      1221573 non-null  object
 6   individual-taxon-canonical-name  1221573 non-null  object
 7   tag-local-identifier             1221573 non-null  int64
 8   individual-local-identifier      1221573 non-null  object
 9   study-name                       1221573 non-null  object
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 85.0+ MB

In [41]:
accessory_data['event-id'].value_counts()

16536759370    1
16535621019    1
16535625113    1
16535643542    1
16535645591    1
              ..
16536375799    1
16536373748    1
16536386034    1
16536383987    1
16536761053    1
Name: event-id, Length: 1221573, dtype: int64

In [45]:
gps_data = pd.read_parquet('white-bearded-wildebeest-in-kenya-gps.csv.parquet.gzip')

In [46]:
gps_data.head()

,event-id,visible,timestamp,location-long,location-lat,external-temperature,gps:dop,gps:fix-type-raw,height-above-ellipsoid,tag-voltage,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name
0,14749094722,True,2010-05-28 06:00:00.000,35.308732,-1.343131,21.0,4.6,3D,1773.48,3360.0,gps,Connochaetes taurinus,2829,Naboisho,White-bearded wildebeest in Kenya
1,14749094723,True,2010-05-28 07:00:00.000,35.308235,-1.343053,23.0,7.2,3D,1756.18,3360.0,gps,Connochaetes taurinus,2829,Naboisho,White-bearded wildebeest in Kenya
2,14749094724,True,2010-05-28 08:01:00.000,35.308345,-1.342889,25.0,3.4,3D,1764.42,3360.0,gps,Connochaetes taurinus,2829,Naboisho,White-bearded wildebeest in Kenya
3,14749094725,True,2010-05-28 09:00:00.000,35.308515,-1.343341,27.0,4.4,3D,1763.08,3360.0,gps,Connochaetes taurinus,2829,Naboisho,White-bearded wildebeest in Kenya
4,14749094726,True,2010-05-28 10:00:00.000,35.307627,-1.342810,28.0,3.4,3D,1754.19,3360.0,gps,Connochaetes taurinus,2829,Naboisho,White-bearded wildebeest in Kenya

In [48]:
gps_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279082 entries, 0 to 279081
Data columns (total 15 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   event-id                         279082 non-null  int64
 1   visible                          279082 non-null  bool
 2   timestamp                        279082 non-null  object
 3   location-long                    279082 non-null  float64
 4   location-lat                     279082 non-null  float64
 5   external-temperature             279082 non-null  float64
 6   gps:dop                          279082 non-null  float64
 7   gps:fix-type-raw                 279082 non-null  object
 8   height-above-ellipsoid           279082 non-null  float64
 9   tag-voltage                      279082 non-null  float64
 10  sensor-type                      279082 non-null  object
 11  individual-taxon-canonical-name  279082 non-null  object
 12  tag-local-identifier             279082 non-null  int64
 13  individual-local-identifier      279082 non-null  object
 14  study-name                       279082 non-null  object
dtypes: bool(1), float64(6), int64(2), object(6)
memory usage: 30.1+ MB

In [49]:
gps_data['individual-local-identifier'].value_counts()

Naserian         14870
Nagol            14733
Nentepesi        12667
Kiranto          12577
Peria            12376
Ntishya          11789
Noontare         11736
Fifteen          11603
Naboisho         11534
Nenkitirua       11522
Kayioni          11413
Reiyo            11105
Paita            11078
Neatoo           11070
Kikaya           10758
Naisula           8710
Lengaruani        8505
Nesimei           7991
Laingoni          7787
NeMpaash          7340
Ledama            7188
Olope             6849
Karbolo           6053
Sotua             4793
Nkoko             4623
Koyiaki           4404
Nkairowua         4328
Lempaash          4122
Sawani            3567
Leporana          3535
Motorogi          2863
NenkonguNarok     1934
Naiba             1311
OleNagol          1107
Lerisa            1002
Taletian           239
Name: individual-local-identifier, dtype: int64